{{#each this}}
```jsx
{{#each this}}
const {{this.componentName}} = require('./{{this.category}}/{{this.name}}').default;
{{/each}}

<div>
    {{#each this as |icon iconID|}}
    <div className='row'>
        {
            ['s', 'm', 'l', 'xl', 'xxl'].map(size => (
                <span className='column l' key={ size }>
                    <{{icon.componentName}} size={ size } />
                </span>
            ))
        }
    {{#each this.size as |size sizeID|}}
        {{#if size.colored}}
        <span className='column l'><{{icon.componentName}} size='{{size.size}}' colored='true' /></span>
        {{/if}}
    {{/each}}
    </div>
    {{/each}}
</div>
```
{{/each}}
